@import "src/app/styles/variables";

.button {
  &--default {
    height: 40px;
    padding: 6px 15px;
    background-color: $white;
    border: 1px solid $neutral5;
    border-radius: 8px;
    color: $neutral5;

    &:hover {
      cursor: pointer;
      color: $neutral3;
      border-color: $neutral3;
    }
  }


  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 0;

    &:hover {
      cursor: pointer;
      background-color: $neutral0;
      border: 1px solid $neutral1;
    }
  }
}
