@import "src/app/styles/variables";
@import "src/app/styles/mixins";

.user-modal {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    @include h5-medium($neutral3);
    margin: 8px 0;
  }
}
